<div class="bg-gray-900 text-gray-300 p-5 lg:p-20 flex flex-col gap-6 w-screen">
  <div class="gap-6 flex flex-col">
    <div class="flex flex-col gap-3 items-start justify-center">
      <div class="flex flex-col gap-1 items-start justify-center w-full">
        <div
          class="flex flex-col gap-1 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2 w-full"
        >
          <p class="text-4xl lg:text-6xl font-bold">ishakgonul</p>
          <p class="text-md lg:text-2xl text-gray-400">Ankara, Turkey</p>
        </div>
      </div>
      <p class="text-md text-gray-400 p-2">
        I'm a fullstack developer with more than 3 years of professional work
        experience. Most comfortable with typescript,nodejs,angular, tailwindCSS
        but used python, golang, C#, VueJs too.
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-3 items-start justify-center m-2">
    <p class="text-2xl lg:text-3xl font-bold">Current tech stack</p>

    <div
      class="grid grid-cols-3 lg:grid-cols-12 items-center justify-center gap-2"
    >
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Typescript
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Javascript
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Angular
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        NodeJs
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        ElectronJs
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        TailwindCSS
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Docker
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Jenkins
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Gitlab
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-3 items-start justify-center m-2">
    <p class="text-2xl lg:text-3xl font-bold">Experimenting with & learning</p>

    <div
      class="grid grid-cols-3 lg:grid-cols-12 items-center justify-center gap-2"
    >
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Golang
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        BunJs
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        CapacitorJs
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Rust
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Elysia
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Dragonfly
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        Couchbase
      </p>
      <p
        class="text-md text-gray-400 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2"
      >
        MQTT
      </p>
    </div>
  </div>

  <div class="flex flex-col gap-3 items-start justify-center m-2">
    <p class="text-2xl lg:text-3xl font-bold">Work History</p>

    <div
      class="flex flex-col items-start justify-center gap-0 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2 w-full"
    >
      <p class="text-lg font-bold">Titra Teknoloji A.Ş - Software Developer</p>
      <p class="text-gray-500">05.05.2021 - Present</p>

      <p class="text-sm mt-2 text-gray-300">
        - Designed the main software architecture for DELİ Kamikaze Ground
        Control Software <br />
        - Designed and delevoped REST APIs, Websocket servers. <br />
        - Designed and developed developer tools. <br />
        - Packaged applications using docker. <br />
        - Wrote custom release server using semver, conventional commit,
        integrated to gitlab through custom webhook <br />
        - Used RxJS to manipulate and render real time ﬂight datas. (Appr. 5k
        msg/s) <br />
        - Proﬁcient in using gRPC to communicate with C++ servers, allowing for
        fast and eﬃcient communication between different parts of the
        application <br />
      </p>
    </div>

    <div
      class="flex flex-col items-start justify-center gap-0 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2 w-full"
    >
      <p class="text-lg font-bold">Ada Yazılım - Software Developer</p>
      <p class="text-gray-500">01.11.2020 - 30.04.2021</p>

      <p class="text-sm mt-2 text-gray-300">
        - Expertise in writing data-oriented backend code with C#, ensuring that
        the backend is optimized for handling large amounts of data eﬃciently
        and securely. <br />
        - Extensive experience in enhancing UI/UX using AngularJS, ensuring that
        the frontend is user-friendly, visually appealing, and delivers seamless
        user experiences. <br />
        - Skilled in writing automation with Selenium, allowing for fast and
        eﬃcient testing of the application's functionality and user experience
      </p>
    </div>

    <div
      class="flex flex-col items-start justify-center gap-0 bg-gray-800 border border-gray-700 rounded-lg px-4 py-2 w-full"
    >
      <p class="text-lg font-bold">E2DAS - Software Developer</p>
      <p class="text-gray-500">01.07.2018 - 01.09.2019</p>

      <p class="text-sm mt-2 text-gray-300">
        - Skilled in working with FFMPEG library over C#, allowing for eﬃcient
        and high-quality video and audio processing and encoding. <br />
        - Experienced in IPC with core C++ library, allowing for eﬃcient
        communication between different parts of the application. <br />
        - Proﬁcient in applying SOLID programming principles, ensuring that the
        application is modular, maintainable, and extensible. <br />
        - Experienced in working with inotify, allowing for eﬃcient monitoring
        of ﬁle system events. <br />
        - Skilled in cron task scheduler, allowing for scheduling tasks and jobs
        automatically and eﬃciently.
      </p>
    </div>
  </div>

  <div class="flex flex-row gap-4 items-start justify-start px-4 py-2">
    <a target="_blank" href="https://www.linkedin.com/in/ishak-g%C3%B6n%C3%BCl-302004130/">
      <img src="assets/icons/linkedin.svg" class="w-8 h-8" alt="" srcset="" />
    </a>

    <a target="_blank" href="https://github.com/shakg">
      <img src="assets/icons/github.svg" class="w-8 h-8" alt="" srcset="" />
    </a>

    <a target="_blank" href="https://twitter.com/ishakgonul1">
      <img src="assets/icons/twitter.svg" class="w-8 h-8" alt="" srcset="" />
    </a>

    <a target="_blank" href="mailto:ishakgonulgb@gmail.com?subject=Hello İshak"
      ><img src="assets/icons/mail.svg" class="w-8 h-8" alt="" srcset=""
    /></a>
  </div>
</div>
