<div class="flex flex-col gap-2 items-center justify-center p-10 bg-gray-900 text-gray-200 w-screen h-screen">
  <div class="flex flex-col gap-3 items-center justify-center p-5 border border-gray-700 bg-gray-800 w-full rounded">
    <img src="assets/icons/logo.svg" alt="">
    <p class="text-2xl"> Otomatik Mama Kabı </p>
  </div>

  <div
    class="flex flex-col items-center justify-center gap-2 p-5 rounded border border-gray-700 bg-gray-800 w-full text-gray-200">
    <p class="text-xl">Mama kabı doluluk oranı</p>
    <div class="w-3/4 bg-gray-500 rounded-full h-6">
      <div class="bg-yellow-400 h-6 rounded-full px-3" style="width: 45%">
        <p class="text-black"> 45% - 50gr</p>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center gap-2 p-5 rounded border border-gray-700 bg-gray-800 w-full text-gray-200">
    <p class="text-xl"> Son dolumlar</p>
    <div class="flex flex-col gap-1 w-full">
      <div class="flex flex-row items-center justify-between rounded border border-gray-700 p-3 w-full">
        <p class="bg-yellow-300 text-black p-2 rounded ">50%</p>
        <p class="p-2">13.02.2023</p>
        <p>02:10 PM</p>
      </div>

      <div class="flex flex-row items-center justify-between rounded border border-gray-700 p-3 w-full">
        <p class="bg-red-300 text-black p-2 rounded ">30%</p>
        <p class="p-2">13.02.2023</p>
        <p>02:10 PM</p>
      </div>

      <div class="flex flex-row items-center justify-between rounded border border-gray-700 p-3 w-full">
        <p class="bg-green-300 text-black p-2 rounded ">80%</p>
        <p class="p-2">13.02.2023</p>
        <p>02:10 PM</p>
      </div>
    </div>
  </div>

  <div
    class="flex flex-col items-center justify-center gap-2 p-5 rounded border border-gray-700 bg-gray-800 w-full text-gray-200">
    <p class="text-xl"> Mama doldur</p>
    <div class="flex flex-row gap-3 items-center justify-center w-full">
      <p class="text-md"> Miktar (gr)</p>
      <input type="text" name="" id="" class="p-2 rounded bg-gray-600 text-white w-1/3">
      <button class="p-2 rounded bg-green-500 text-white border-border-white w-1/3 hover:bg-green-600">
        Doldur
      </button>
    </div>


  </div>


</div>